<%= form_with(model: producto, local: true) do |form| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo guardar el producto</h2>

      <ul>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion, "Descripción" %>
    <%= form.text_field :descripcion, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :categoria, "Categoría" %>
    <%= form.collection_select(:categoria_id, Categoria.all, :id, :nombre, {}, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= form.check_box :apto_celiacos %>
    <%= form.label :apto_celiacos, "Apto Celíacos" %>
  </div>

  <div class="form-group">
    <%= form.check_box :apto_diabeticos %>
    <%= form.label :apto_diabeticos, "Apto Diabéticos" %>
  </div>

  <div class="form-group">
    <%= form.label :precio %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= form.number_field :precio, class: "form-control", step: 0.01 %>
    </div>
  </div>

  <% if producto.imagen.present? %>
    <%= image_tag producto.imagen.url, class: "imagen-producto" %>
  <% else %>
      <p>El producto no tiene una imagen cargada todavía.</p>
  <% end %>
  <div class="form-group">
    <%= form.label :imagen %>
    <%= form.file_field :imagen %>
  </div>

  <div class="row m-t-md">
    <div class="col-md-2 col-md-offset-4">
      <%= link_to productos_path, class: "btn btn-warning btn-block" do %>
        <i class="fa fa-arrow-left"></i> Volver
      <% end %>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-block" type="submit">
        <i class="fa fa-save"></i> Guardar
      </button>
    </div>
  </div>
<% end %>
