<% content_for :title do %>Promociones<% end %>

<div class="row">
  <div class="col-md-12">
     <div class="ibox">
      <div class="ibox-title">
        <h5>Listado de Promociones</h5>
      </div>
      <div class="ibox-content">
        <% if @promociones.any? %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-md-2">Fecha de Inicio</th>
                <th class="col-md-9">Nombre</th>
                <th class="col-md-1" colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @promociones.each do |promocion| %>
                <tr>
                  <td><%= promocion.created_at.to_formatted_s :short %></td>
                  <td><%= promocion.nombre %></td>
                  <td>
                    <%= link_to edit_promocion_path(promocion), class: "btn btn-primary" do %>
                      <i class="fa fa-pencil"></i> Editar
                    <% end %>
                  </td>
                  <td>
                    <%= link_to promocion, class: "btn btn-danger", method: :delete, data: { confirm: '¿Seguro?' } do %>
                      <i class="fa fa-trash"></i> Eliminar
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="alert alert-warning">
            No hay promociones cargadas en el sistema.
          </div>
        <% end %>

        <br>

        <div class="row m-t-md">
          <div class="col-md-2 col-md-offset-5">
            <%= link_to new_promocion_path, class: "btn btn-primary btn-block" do %>
              <i class="fa fa-plus"></i> Nueva
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
