<% content_for :title do %>Tags<% end %>

<div class="row">
  <div class="col-md-12">
     <div class="ibox">
      <div class="ibox-title">
        <h5>Listado de Tags</h5>
      </div>
      <div class="ibox-content">
        <% if @tags.any? %>
          <table id="tabla-tags" class="table table-hover">
            <thead>
              <tr>
                <th class="col-md-3">Producto</th>
                <th class="col-md-7">RFID</th>
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
              </tr>
            </thead>

            <tbody>
              <% @tags.each do |tag| %>
                <tr>
                  <td><%= tag.producto.nombre %></td>
                  <td><%= tag.rfid %></td>
                  <td>
                    <%= link_to edit_tag_path(tag), class: "btn btn-primary" do %>
                      <i class="fa fa-pencil"></i> Editar
                    <% end %>
                  </td>
                  <td>
                    <%= link_to tag, class: "btn btn-danger", method: :delete, data: { confirm: '¿Seguro?' } do %>
                      <i class="fa fa-trash"></i> Eliminar
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="alert alert-warning">
            No hay tags cargados en el sistema.
          </div>
        <% end %>

        <br>

        <div class="row m-t-md">
          <div class="col-md-2 col-md-offset-5">
            <%= link_to new_tag_path, class: "btn btn-primary btn-block" do %>
              <i class="fa fa-plus"></i> Nueva
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="ibox">
      <div class="ibox-title">
        <h5>Buscar Tag</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <%= form_tag por_rfid_tags_path, method: "get" do %>
            <div class="col-md-3 col-sm-4">
              <div class="form-group">
                <input type="text" name="rfid" class="form-control">
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> Buscar
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :local_scripts do %>
<script>
  $(document).ready(function () {
    $("#tabla-tags").DataTable();
  });
</script>
<% end %>
