<% content_for :title do %>Categorías<% end %>

<div class="row">
  <div class="col-md-12">
     <div class="ibox">
      <div class="ibox-title">
        <h5>Listado de Categorías</h5>
      </div>
      <div class="ibox-content">
        <% if @categorias.any? %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-md-4">Nombre</th>
                <th class="col-md-4">Productos Asociados</th>
                <th class="col-md-2">Posicionada</th>
                <th class="col-md-2" colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @categorias.each do |categoria| %>
                <tr>
                  <td><%= categoria.nombre %></td>
                  <td><%= categoria.productos.size %></td >
                  <td><%= categoria.posicion_x ? "Sí" : "No" %></td >
                  <td>
                    <%= link_to edit_categoria_path(categoria), class: "btn btn-primary" do %>
                      <i class="fa fa-pencil"></i> Editar
                    <% end %>
                  </td>
                  <td>
                    <%= link_to categoria_path(categoria), class: "btn btn-danger", method: :delete, data: { confirm: '¿Seguro?' } do %>
                      <i class="fa fa-trash"></i> Eliminar
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="alert alert-warning">
            No hay categoríás cargadas en el sistema.
          </div>
        <% end %>

        <br>

        <div class="row m-t-md">
          <div class="col-md-2 col-md-offset-5">
            <%= link_to new_categoria_path, class: "btn btn-primary btn-block" do %>
              <i class="fa fa-plus"></i> Nueva
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
