<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo guardar el usuario</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password, "Contraseña" %>
    <%= form.password_field :password, class: "form-control", placeholder: "Sin cambios" %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation, "Confirmar la Contraseña" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <h3>Roles</h3>
  <hr>

  <div class="form-group">
    <%= form.check_box :es_admin %>
    <%= form.label :es_admin, "Admin" %>
  </div>

  <div class="form-group">
    <%= form.check_box :es_gestion %>
    <%= form.label :es_gestion, "Gestión" %>
  </div>

  <div class="form-group">
    <%= form.check_box :es_tags %>
    <%= form.label :es_tags, "Editor de tags" %>
  </div>

  <div class="form-group">
    <%= form.check_box :es_cajera %>
    <%= form.label :es_cajera, "Cajera" %>
  </div>

  <div class="row m-t-md">
    <div class="col-md-2 col-md-offset-4">
      <%= link_to usuarios_path, class: "btn btn-warning btn-block" do %>
        <i class="fa fa-arrow-left"></i> Volver
      <% end %>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-block" type="submit">
        <i class="fa fa-save"></i> Guardar
      </button>
    </div>
  </div>
<% end %>
