<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">
    <title>SmartCart</title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Wrapper-->
    <div id="wrapper">

      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <div class="dropdown profile-element">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <span class="clear">
                    <span class="block m-t-xs">
                      <span>Usuario</span>
                      <strong class="font-bold block"><%= current_usuario.nombre %></strong>
                      <span class="block"><%= current_usuario.email %></span>
                    </span>
                  </span>
                </a>
              </div>
              <div class="logo-element">
                SC
              </div>
            </li>
            <li class="<% if controller_name == 'productos' %>active<% end %>">
              <%= link_to productos_path do %>
                <i class="fa fa-cube"></i>
                <span class="nav-label">Productos</span>
              <% end %>
            </li>
            <li class="<% if controller_name == 'changos' %>active<% end %>">
              <%= link_to changos_path do %>
                <i class="fa fa-shopping-cart"></i>
                <span class="nav-label">Changos</span>
              <% end %>
            </li>
            <li class="<% if controller_name == 'tags' %>active<% end %>">
              <%= link_to tags_path do %>
                <i class="fa fa-tag"></i>
                <span class="nav-label">Tags</span>
              <% end %>
            </li>
            <li class="<% if controller_name == 'usuarios' %>active<% end %>">
              <%= link_to usuarios_path do %>
                <i class="fa fa-users"></i>
                <span class="nav-label">Usuarios</span>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
          <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
              <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
              <li>
                <%= link_to destroy_usuario_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i> Log out
                <% end %>
              </li>
            </ul>
          </nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2><%= yield :title %></h2>
          </div>
        </div>

        <!-- Main view  -->
        <%= yield %>
      </div>

      <!-- Footer -->
      <div class="footer">
        <div>
          <strong>Copyright</strong> SmartCart &copy; 2018
        </div>
      </div>

    </div>
    <!-- End page wrapper-->

    <%= render 'layouts/flash_alerts' %>

    <%= yield :local_scripts %>
  </body>
</html>
